{% extends 'base.html.twig' %}


{% block contenu %}

<h1> Bienvenue sur prostages ! </h1>

<p>
Cette page présente tous les stages/entreprises/formations disponibles sur le site de l'UPPA.
</p>

<ul>
    <li>
        <a href="{{path('prostages_entreprises', {id:1})}}">Entreprises N°1</a>
    </li>

    <li>
        <a href="{{path('prostages_entreprises', {id:2})}}">Entreprises N°2</a>
    </li>

    <li>
        <a href="{{path('prostages_entreprises', {id:3})}}">Entreprises N°3</a>
    </li>

    <li>
        <a href="{{path('prostages_entreprises', {id:4})}}">Entreprises N°4</a>
    </li>

    <li>
        <a href="{{path('prostages_entreprises', {id:5})}}">Entreprises N°5</a>
    </li>
</ul>



{% endblock %}

